/* Footer source: https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */

*{
  box-sizing: border-box;
}

header{
  background-color: black;
  color: blanchedalmond;
  height: 80px;
  width: 100%;
  text-align: center;
}

nav{
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
body{
  height: 100%;
  background-color: lightgray;

}

main{
  max-width: 960px;
}


 h1, h3 { 
  margin-top: 20px;
  font-style: italic;
  font-size: 2em;

}

p{
  font-family: 'Times New Roman', Times, serif;
}

#imgSelection{
  display: block;
}

#rightImg{
  border: 1px solid black;
}

#centerImg{
  border: 1px solid black;
}

#leftImg{
  border: 1px solid black;
}

img{
  float: left;
  height: 300px;
  width: 250px;
}

div:last-child img{
  margin-right: 0px;
}

#txts{
  line-height: 2em;
}

#chartsR{
  float: left;
  width: 100%;
  height: 400px;
}

footer{
  background-color: black;
  color: blanchedalmond;
  max-width: 100%;
  height: 80px;
  text-align: center;
}

#page-container {
  position: sticky;
  min-height: 100vh;
}

#content-wrap {
  margin-left: 380px;
  margin-top: 50px;
}

#footer {
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;         
}