*{
  box-sizing: border-box;
}

header{
  background-color:red;
  width: 100%;
}

nav{
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

main{
  max-width: 960px;
}

#chartsR{
  float: left;
  width: 400px;
  height: 400px;
}

#imgSelection{
  background-color: blueviolet;
}

img{
  float: left;
  height: 300px;
  width: 250px;
}

div:last-child img{
  margin-right: 0px;
}

footer{
    background-color: aqua;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}